body {
    text-align: right;
    margin-right: 10%;
    margin-top: 10%;
  }
  header {
    color: black;
    padding: 10px;
    margin-right:9%;
  }
  div{
    margin-top: 5px;
    display: flex;
    justify-content: right;
    text-align: left;
  }
  form {
    margin-top: 0px;
    border:1px solid black;
    border-radius: 5px;
    width: 90%;
    margin-left:74.25%;
  }
  input[type="text"] {
    
    width: 100%;
    padding: 5px 45px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/149/149852.png");
    background-position: 0% 4px;
    background-repeat: no-repeat;
    background-position-x:5%;
    background-size: 20px;
    font-size: 16px;
    text-align: left;
  }
  li{
    margin-top: 0px;
    padding-top: 10px;
    font-size: 20px;
  }

  
